nav a {
  color: #000;
}

.font_gradient {
  background: -webkit-gradient(linear, left top, right top, color-stop(38%, #02d415), color-stop(68%, #00a0e3));
  background: linear-gradient(to right, #02d415 38%, #00a0e3 68%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

.shrink {
  padding-top: 0;
  padding-bottom: 0;
  background-color: #f9f9f9;
}

.header--navbar li {
  padding: 0 5px;
  font-weight: 400;
  letter-spacing: 1px;
}

.header--navbar .back-ground {
  font-size: .8rem;
  padding-top: 0.5rem;
  margin-left: 1.5rem;
  border-radius: 10px !important;
  margin: 0 auto;
}

.header--navbar .back-ground:focus {
  outline: 0 !important;
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
}

.navbar-nav .nav-item a:hover, .navbar-nav .nav-item a:active, .navbar-nav .nav-item a:focus {
  color: #00a0e3;
}

.carousel-indicators .active {
  background-color: #00a0e3 !important;
}

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.carousel-caption {
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  position: absolute;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 0;
  bottom: 0;
  padding-top: 0px;
  padding-left: 37px;
  padding-right: 37px;
  padding-bottom: 50px;
}

.carousel-caption h2 {
  font-size: 40px;
}

@media (max-width: 576px) {
  .carousel-caption h2 {
    font-size: 30px;
  }
}

@media (max-width: 576px) {
  .section--about h2 {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .section--about h2 {
    text-align: center;
  }
}

@media (max-width: 992px) {
  .section--about h2 {
    text-align: center;
  }
}

.about-content h2 {
  background: -webkit-gradient(linear, right top, left top, color-stop(65%, #00a0e3), to(#02d415));
  background: linear-gradient(to left, #00a0e3 65%, #02d415 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 576px) {
  .about-content h2 {
    background: -webkit-gradient(linear, right top, left top, from(#00a0e3), to(#02d415));
    background: linear-gradient(to left, #00a0e3 0%, #02d415 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@media (max-width: 768px) {
  .about-content h2 {
    background: -webkit-gradient(linear, right top, left top, from(#00a0e3), to(#02d415));
    background: linear-gradient(to left, #00a0e3 0%, #02d415 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.about-content a {
  background: -webkit-gradient(linear, right top, left top, color-stop(30%, #00a0e3), to(#02d415));
  background: linear-gradient(to left, #00a0e3 30%, #02d415 100%);
  letter-spacing: 1px;
}

.back-ground {
  background: -webkit-gradient(linear, right top, left top, color-stop(30%, #00a0e3), to(#02d415));
  background: linear-gradient(to left, #00a0e3 30%, #02d415 100%);
}

.how-it-works {
  background: #000;
}

.how-it-works p {
  font-size: 16px;
}

.how-it-works .how-images {
  width: 100%;
  position: relative;
  text-align: center;
}

.how-it-works .how-images .video_bg_images {
  width: 100%;
}

.how-it-works .how-icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.test-wrapper {
  border: 1px solid #e6e7e8;
  -webkit-transition: .4s;
  transition: .4s;
  background: #fff;
}

.test-wrapper p {
  font-size: 0.7rem;
}

.test-wrapper:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0 10px 60px 0 rgba(71, 74, 182, 0.16);
          box-shadow: 0 10px 60px 0 rgba(71, 74, 182, 0.16);
}

.test-wrapper:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #eaeaea;
}

.logo {
  display: inline-block;
}

.navbar-brand {
  height: auto;
  padding: 0;
}

.logo--img img {
  width: 50px;
}

.logo--img, .img--content {
  display: table-cell;
  vertical-align: middle;
}

.logo--content, .img--img {
  display: table-cell;
  vertical-align: middle;
}

.logo--content h1 {
  font-size: 18px;
}

.logo--content p {
  font-size: 15px;
}

/* blog */
.our-blog {
  background: #000;
}

.blog-item {
  background-color: #f8f9fc;
  -webkit-transition: .4s;
  transition: .4s;
  margin-top: 30px;
}

.blog-item:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0 10px 60px 0 rgba(71, 74, 182, 0.16);
          box-shadow: 0 10px 60px 0 rgba(71, 74, 182, 0.16);
}

.blog-item .blog-content {
  padding: 20px;
}

.blog-item .blog-content h2 {
  font-weight: 600;
  margin-bottom: 15px;
}

.blog-item .blog-content h2 a {
  font-size: 1.1rem;
}

.blog-item .blog-content .blog-meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 20px;
}

.blog-item .blog-content .blog-meta a {
  color: #151515;
  font-weight: 400;
  margin-right: 10px;
}

/* end blog */
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
  margin: 0 0 0 15px;
}

.social-icons li:first-child {
  margin-left: 0;
}

.social-icons a {
  margin-right: 2px;
}

.connect p {
  margin-bottom: 10px;
}

.connect p a:hover {
  text-decoration: none;
  color: #02d415;
}

.team-section {
  background-color: #f8f9fa;
}

.team-section .our-team {
  padding: 20px 15px 30px;
  background: #fff;
  border-radius: 15px;
  text-align: center;
  -webkit-transition: .4s;
  transition: .4s;
  margin: 5px;
}

.team-section .our-team .title {
  display: block;
  font-size: 20px;
  font-weight: 600;
  color: #2e282a;
  text-transform: uppercase;
  margin: 0 0 7px 0;
}

.team-section .our-team .post {
  display: block;
  font-size: 15px;
  text-transform: capitalize;
  margin-bottom: 15px;
}

.team-section .our-team:hover .pic {
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, right top, color-stop(38%, #02d415), color-stop(68%, #00a0e3));
  background: linear-gradient(to right, #02d415 38%, #00a0e3 68%);
  -webkit-text-fill-color: transparent;
}

.team-section .our-team:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0 10px 60px 0 rgba(71, 74, 182, 0.16);
          box-shadow: 0 10px 60px 0 rgba(71, 74, 182, 0.16);
}

.team-section .our-team .pic {
  display: inline-block;
  width: 100%;
  height: 100%;
  background: #fff;
  padding: 10px;
  margin-bottom: 25px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.team-section .our-team .pic img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

@font-face {
  font-family: "config";
  src: url("ConfigCondensed-Regular.eot");
  src: url("ConfigCondensed-Regular.eot?#iefix") format("embedded-opentype"), url("ConfigCondensed-Regular.woff") format("woff"), url("ConfigCondensed-Regular.ttf") format("truetype"), url("ConfigCondensed-Regular.svg#config") format("svg");
  font-weight: "fonts/ConfigCondensed-Regular";
  font-style: "serif";
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "config";
    src: url("ConfigCondensed-Regular.svg#config") format("svg");
  }
}

@font-face {
  font-family: "bradley";
  src: url("Bradley Hand ITC V2.eot");
  src: url("Bradley Hand ITC V2.eot?#iefix") format("embedded-opentype"), url("Bradley Hand ITC V2.woff") format("woff"), url("Bradley Hand ITC V2.ttf") format("truetype"), url("Bradley Hand ITC V2.svg#bradley") format("svg");
  font-weight: "fonts/bradley/Bradley Hand ITC V2";
  font-style: "serif";
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "bradley";
    src: url("Bradley Hand ITC V2.svg#bradley") format("svg");
  }
}

h2 {
  font-size: 3rem;
}

@media (max-width: 576px) {
  h2 {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  h2 {
    font-size: 40px;
  }
}

@media (max-width: 992px) {
  h2 {
    font-size: 40px;
  }
}

h2 span {
  font-size: 35px;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 0.7rem !important;
  color: #000;
}

a {
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #00a0e3;
}

p {
  font-size: 0.7rem;
}

.about-content p {
  font-size: 0.7rem;
  color: #545454;
}

.about-content a {
  font-size: 12px;
}

.divider {
  background: #ffffff;
  width: 90%;
}

footer {
  font-weight: 400;
}

footer a {
  color: #ffffff;
}

footer .bradley {
  font-family: 'Dancing Script', cursive;
  font-style: italic;
}
/*# sourceMappingURL=style.css.map */